html    {
    font-size: 20px;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}

main {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    z-index: -1;
}
video {
    position: absolute;
    left: 0;
    top: 0;
    min-height: inherit;
    min-width: 100vw;
    object-fit: cover;
    opacity: 0.9;
    z-index: 0;
}
/* ==============BG opacity circle================== */
.container_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.circle_bg {
    flex: 0 0 10rem;
    height: 10rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =================Main circles=================== */
.container {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    flex: 0 0 10rem;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    transform: translate(1.3rem);
    position: relative;
}
.two{
    transform: translate(-1.3rem);
    position: relative;
}

.in {
    width: 5rem;
    height: 5rem;
    background-image: radial-gradient(circle, rgb(12, 61, 65) 20%, rgba(0, 0, 0, 0) 70%,rgba(0, 0, 0, 0) 100%);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 7px rgba(250, 247, 67, 0.52);
    animation: light 3s ease-in infinite;
    box-sizing: border-box;
}
/* ========================================= */

.point{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    position: absolute;
    left: 0rem;
    transform-origin: 5rem;
    animation-name: rotate;
    animation-duration: 4s;
    animation-delay: calc(0.025s * var(--dot));
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    box-shadow: 0px 0px 25px rgba(0, 211, 218, 0.493);
    background-color: rgba(0, 211, 218, 0.493);
}

/* =============Animation rotate============== */
@keyframes rotate {
    from {
        transform-origin: 5rem;
        transform: rotate(0turn);
        filter: hue-rotate(360deg);
    }
    50% {
        transform-origin: 5rem;
        transform: rotate(1turn);
    }
    50.1% {
        transform-origin: -2.5rem;
        transform: rotate(1turn);
    }
    to {
        transform-origin: -2.5rem;
        transform: rotate(0turn);
        filter: hue-rotate(0deg);
    }
}
/* =================Lighting===================== */
@keyframes light {
    from, to {
    
        box-shadow: 0px 0px 10px 7px rgba(255, 252, 84, 0.808);
    }
    50% {
       
        box-shadow: 0px 0px 10px 3px rgba(255, 252, 84, 0.808);
    }
    60% {
       
        box-shadow:0px 0px 10px 80px rgba(255, 145, 200, 0);
    }
    60.1% {
        box-shadow: 0px 0px 10px 3px rgba(255, 145, 200, 0);
    }
}

/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
