html    {
    font-size: 20px;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
:root {
    --shadow-color: rgba(10, 10, 10, 0.835);
}
main {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
video {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    min-height: inherit;
    min-width: 100vw;
    object-fit: cover;
}
/* ================================ */
.container {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    flex: 0 0 10rem;
    height: 10rem;
    background-color: rgb(48, 0, 70);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 25px 15px var(--shadow-color);
    border: 2px solid black;
}

.one {
    transform: translate(10px);
}
.two{
    transform: translate(-10px);
}
.circle > .in {
    width: 5rem;
    height: 5rem;
    background-color: rgb(77, 95, 255);
    border-radius: 50%;
    box-shadow: 0px 0px 25px 15px var(--shadow-color);
    border: 2px solid black;
}

/* .one::before {

}
.two::before{
    content: "";
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: rgb(77, 255, 77);
    border-radius: 50%;
    position: absolute;
    left: -;
}
.two::after{
    content: "";
    display: block;
} */
/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
