html    {
    font-size: 20px;
}
::selection {
    background-color: black;
    color: white;
    text-shadow: 1px 1px  rgba(24, 209, 255, 0.712);
}
:root {
    --shadow-color: rgba(0, 0, 0, 0.787);
}
main {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: rgb(70, 70, 70);
    z-index: -1;
}
video {
    position: absolute;
    left: 0;
    top: 0;
    min-height: inherit;
    min-width: 100vw;
    object-fit: cover;
    opacity: 0.9;
    z-index: 0;
}
/* ==============BG opacity circle================== */
.container_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.circle_bg {
    flex: 0 0 10rem;
    height: 10rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* =================Main circles=================== */
.container {
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    flex: 0 0 10rem;
    height: 10rem;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    transform: translate(1.3rem);
    position: relative;
}
.two{
    transform: translate(-1.3rem);
    position: relative;
}

.in {
    width: 5rem;
    height: 5rem;
    background-color: rgba(102, 189, 102, 0.562);
    border-radius: 50%;
    /* box-shadow:  0px 0px 35px 20px var(--shadow-color); */
}
/* ========================================= */
.point_one{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(0, 181, 253);
    position: absolute;
    left: 0rem;
    transform-origin: 5rem;
    animation: rotate_one 2s linear 2s infinite;
    box-shadow: 
    0rem 0.1rem rgb(0, 181, 253), 0rem 0.2rem rgb(0, 181, 253), 
    0.01rem 0.3rem  rgb(0, 181, 253),0.02rem 0.4rem rgb(0, 181, 253),
    0.03rem 0.5rem rgb(0, 181, 253), 0.05rem 0.6rem rgb(0, 181, 253), 0.06rem 0.7rem rgb(0, 181, 253),0.08rem 0.8rem rgb(0, 181, 253),
    0.11rem 0.9rem rgb(0, 181, 253),0.13rem 1rem rgb(0, 181, 253),0.16rem 1.1rem rgb(0, 181, 253), 0.19rem 1.2rem rgb(0, 181, 253),
    0.23rem 1.3rem rgb(0, 181, 253),0.27rem 1.4rem rgb(0, 181, 253),0.31rem 1.5rem rgb(0, 181, 253),0.36rem 1.6rem rgb(0, 181, 253),
    0.40rem 1.7rem rgb(0, 181, 253),0.46rem 1.8rem rgb(0, 181, 253),0.51em 1.9rem rgb(0, 181, 253),0.58em 2rem rgb(0, 181, 253),
    0.64em 2.1rem rgb(0, 181, 253),0.71em 2.2rem rgb(0, 181, 253),0.79em 2.3rem rgb(0, 181, 253),0.85em 2.4rem rgb(0, 181, 253),
    0.95em 2.5rem rgb(0, 181, 253), 1.05em 2.6rem rgb(0, 181, 253), 1.15em 2.7rem rgb(0, 181, 253),1.26em 2.8rem rgb(0, 181, 253),
    1.39em 2.9rem rgb(0, 181, 253),1.51em 3rem rgb(0, 181, 253),1.65em 3.1rem rgb(0, 181, 253),1.80em 3.2rem rgb(0, 181, 253),
    2rem 3.31rem rgb(0, 181, 253),2.14rem 3.38rem rgb(0, 181, 253), 2.34rem 3.47rem rgb(0, 181, 253),

    0rem -0.1rem 1rem rgba(0, 232, 253, 0.39), 0rem 0.2rem 1rem rgba(0, 232, 253, 0.39), 
    0.01rem 0.3rem 1rem rgba(0, 232, 253, 0.39),0.02rem 0.4rem 1rem rgba(0, 232, 253, 0.39),
    0.03rem 0.5rem 1rem rgba(0, 232, 253, 0.39), 0.05rem 0.6rem 1rem rgba(0, 232, 253, 0.39), 0.06rem 0.7rem 1rem rgba(0, 232, 253, 0.39),0.08rem 0.8rem 1rem rgba(0, 232, 253, 0.39),
    0.11rem 0.9rem 1rem rgba(0, 232, 253, 0.39),0.13rem 1rem 1rem rgba(0, 232, 253, 0.39),0.16rem 1.1rem 1rem rgba(0, 232, 253, 0.39), 0.19rem 1.2rem 1rem rgba(0, 232, 253, 0.39),
    0.23rem 1.3rem 1rem rgba(0, 232, 253, 0.39),0.27rem 1.4rem 1rem rgba(0, 232, 253, 0.39),0.31rem 1.5rem 1rem rgba(0, 232, 253, 0.39),0.36rem 1.6rem 1rem rgba(0, 232, 253, 0.39),
    0.40rem 1.7rem 1rem rgba(0, 232, 253, 0.39),0.46rem 1.8rem 1rem rgba(0, 232, 253, 0.39),0.51em 1.9rem 1rem rgba(0, 232, 253, 0.39),0.58em 2rem 1rem rgba(0, 232, 253, 0.39),
    0.64em 2.1rem 1rem rgba(0, 232, 253, 0.39),0.71em 2.2rem 1rem rgba(0, 232, 253, 0.39),0.79em 2.3rem 1rem rgba(0, 232, 253, 0.39),0.85em 2.4rem 1rem rgba(0, 232, 253, 0.39),
    0.95em 2.5rem 1rem rgba(0, 232, 253, 0.39), 1.05em 2.6rem 1rem rgba(0, 232, 253, 0.39), 1.15em 2.7rem 1rem rgba(0, 232, 253, 0.39),1.26em 2.8rem 1rem rgba(0, 232, 253, 0.39),
    1.39em 2.9rem 1rem rgba(0, 232, 253, 0.39),1.51em 3rem 1rem rgba(0, 232, 253, 0.39),1.65em 3.1rem 1rem rgba(0, 232, 253, 0.39),1.80em 3.2rem 1rem rgba(0, 232, 253, 0.39),
    2rem 3.31rem 1rem rgba(0, 232, 253, 0.39),2.14rem 3.38rem 1rem rgba(0, 232, 253, 0.39), 2.34rem 3.47rem 1rem rgba(0, 232, 253, 0.39),
    2.70rem 3.60rem 1rem rgba(0, 232, 253, 0.39);

}
.point_two{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: rgb(0, 181, 253);
    position: absolute;
    left: 0rem;
    top: center;
    transform-origin: 5rem;
    animation: rotate_two 2s linear 1s infinite;
    box-shadow: 
    0rem 0.1rem rgb(0, 181, 253), 0rem 0.2rem rgb(0, 181, 253), 
    0.01rem 0.3rem  rgb(0, 181, 253),0.02rem 0.4rem rgb(0, 181, 253),
    0.03rem 0.5rem rgb(0, 181, 253), 0.05rem 0.6rem rgb(0, 181, 253), 0.06rem 0.7rem rgb(0, 181, 253),0.08rem 0.8rem rgb(0, 181, 253),
    0.11rem 0.9rem rgb(0, 181, 253),0.13rem 1rem rgb(0, 181, 253),0.16rem 1.1rem rgb(0, 181, 253), 0.19rem 1.2rem rgb(0, 181, 253),
    0.23rem 1.3rem rgb(0, 181, 253),0.27rem 1.4rem rgb(0, 181, 253),0.31rem 1.5rem rgb(0, 181, 253),0.36rem 1.6rem rgb(0, 181, 253),
    0.40rem 1.7rem rgb(0, 181, 253),0.46rem 1.8rem rgb(0, 181, 253),0.51em 1.9rem rgb(0, 181, 253),0.58em 2rem rgb(0, 181, 253),
    0.64em 2.1rem rgb(0, 181, 253),0.71em 2.2rem rgb(0, 181, 253),0.79em 2.3rem rgb(0, 181, 253),0.85em 2.4rem rgb(0, 181, 253),
    0.95em 2.5rem rgb(0, 181, 253), 1.05em 2.6rem rgb(0, 181, 253), 1.15em 2.7rem rgb(0, 181, 253),1.26em 2.8rem rgb(0, 181, 253),
    1.39em 2.9rem rgb(0, 181, 253),1.51em 3rem rgb(0, 181, 253),1.65em 3.1rem rgb(0, 181, 253),1.80em 3.2rem rgb(0, 181, 253),
    2rem 3.31rem rgb(0, 181, 253),2.14rem 3.38rem rgb(0, 181, 253), 2.34rem 3.47rem rgb(0, 181, 253),

    0rem -0.1rem 1rem rgba(0, 232, 253, 0.39), 0rem 0.2rem 1rem rgba(0, 232, 253, 0.39), 
    0.01rem 0.3rem 1rem rgba(0, 232, 253, 0.39),0.02rem 0.4rem 1rem rgba(0, 232, 253, 0.39),
    0.03rem 0.5rem 1rem rgba(0, 232, 253, 0.39), 0.05rem 0.6rem 1rem rgba(0, 232, 253, 0.39), 0.06rem 0.7rem 1rem rgba(0, 232, 253, 0.39),0.08rem 0.8rem 1rem rgba(0, 232, 253, 0.39),
    0.11rem 0.9rem 1rem rgba(0, 232, 253, 0.39),0.13rem 1rem 1rem rgba(0, 232, 253, 0.39),0.16rem 1.1rem 1rem rgba(0, 232, 253, 0.39), 0.19rem 1.2rem 1rem rgba(0, 232, 253, 0.39),
    0.23rem 1.3rem 1rem rgba(0, 232, 253, 0.39),0.27rem 1.4rem 1rem rgba(0, 232, 253, 0.39),0.31rem 1.5rem 1rem rgba(0, 232, 253, 0.39),0.36rem 1.6rem 1rem rgba(0, 232, 253, 0.39),
    0.40rem 1.7rem 1rem rgba(0, 232, 253, 0.39),0.46rem 1.8rem 1rem rgba(0, 232, 253, 0.39),0.51em 1.9rem 1rem rgba(0, 232, 253, 0.39),0.58em 2rem 1rem rgba(0, 232, 253, 0.39),
    0.64em 2.1rem 1rem rgba(0, 232, 253, 0.39),0.71em 2.2rem 1rem rgba(0, 232, 253, 0.39),0.79em 2.3rem 1rem rgba(0, 232, 253, 0.39),0.85em 2.4rem 1rem rgba(0, 232, 253, 0.39),
    0.95em 2.5rem 1rem rgba(0, 232, 253, 0.39), 1.05em 2.6rem 1rem rgba(0, 232, 253, 0.39), 1.15em 2.7rem 1rem rgba(0, 232, 253, 0.39),1.26em 2.8rem 1rem rgba(0, 232, 253, 0.39),
    1.39em 2.9rem 1rem rgba(0, 232, 253, 0.39),1.51em 3rem 1rem rgba(0, 232, 253, 0.39),1.65em 3.1rem 1rem rgba(0, 232, 253, 0.39),1.80em 3.2rem 1rem rgba(0, 232, 253, 0.39),
    2rem 3.31rem 1rem rgba(0, 232, 253, 0.39),2.14rem 3.38rem 1rem rgba(0, 232, 253, 0.39), 2.34rem 3.47rem 1rem rgba(0, 232, 253, 0.39),
    2.70rem 3.60rem 1rem rgba(0, 232, 253, 0.39);

}

/* =============Animation============== */
@keyframes rotate_two {
    from {transform: rotate(0turn);}
    to {
        transform: rotate(1turn);
    }
}
@keyframes move{
    from, to { transform-origin: 5rem;}
    50% { transform-origin: -2.5rem;}
}
/* ============================================== */
@media (min-width: 200px) and (max-width: 600px) {
    /* Свойства применяются в пределах от меньшего к большему. */
}

@media (orientation: portrait) {
    /* Если высота экрана больше ширины, свойство применяется */
}
@media (orientation: landscape) {
    /* Если ширина экрана больше высоты, свойство применяется */
}
@import url("main.css") (min-width:481px) and (max-width:768px); 
/* импортируем содержимое файла css, который предназначается для устройств с 
разрешением экрана, находящегося в диапозоне от 481 пикселей до 768 пикселей */


/*  320px — 480px: мобильные устройства;
    481px — 768px: планшеты;
    769px — 1024px: маленькие экраны, ноутбуки;
    1025px — 1200px: большие экраны;
    1201px и больше —  очень большие экраны, телевизоры. */


    /* для поддержки старых версий браузера Mozilla */
@-moz-keyframes growElement { 
	/* ключевые кадры */
}

/* для поддержки старых версий браузеров Chrome, Opera, Safari */
@-webkit-keyframes growElement { 
	/* ключевые кадры */
}
/* браузер Internet Explorer. */
@-ms-keyframes growElement { 
	/* ключевые кадры */
}
